spring:
  datasource:
    driver-class-name: org.h2.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: update
  output:
    ansi:
      enabled: always
  profiles:
    active: development
server:
  address: 0.0.0.0
  port: ${PORT:8080}