spring:
  config:
    activate:
      on-profile: development
  datasource:
    url: jdbc:h2:file:./data/devdb;MODE=MySQL;CASE_INSENSITIVE_IDENTIFIERS=TRUE
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    hibernate:
    ddl-auto: update
  h2:
    console:
      enabled: true
      path: /h2-console